asgiref
astroid
autopep8
certifi
chardet
colorama
coverage
Django
django-cors-headers
django-countries
django-summernote
djangorestframework
flake8
flake8-django
flake9==3.8.3.post2
flake9-isort
idna
isort
lazy-object-proxy
mccabe
Pillow
pycodestyle
pyflakes
pylint
pytz
requests
six
sqlparse
stripe
testfixtures
toml
urllib3
wrapt